@keyframes glowing {
    0% {
      border-color: #4fd1c5;
      box-shadow: 0 0 20px #4fd1c5;
    }
    50% {
      border-color: #48bb78;
      box-shadow: 0 0 30px #48bb78;
    }
    100% {
      border-color: #00dcc6;
      box-shadow: 0 0 20px #4fd1c5;
    }
  }
  
  .glowing-border {
    animation: glowing 2s infinite; /* Adjust animation duration as needed */
  }
  